@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: Config, sans-serif;
}

body,html {         /* Fixes issue of scrollbar appearing */
    margin: 0;
    padding: 0;
    background-color: rgb(55,127,212);
}